# База и Редис ищутся по именам сервисов из docker-compose
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/polyclinic?schema=public"
REDIS_URL="redis://redis:6379"

# JWT
JWT_ACCESS_SECRET="super-secret-access-key-2026"
JWT_REFRESH_SECRET="mega-secret-refresh-key-2026"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

PORT=3000
